<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/tailwind/tailwind.css" />

    <title>P3 Invoice</title>
  </head>
  <body>
    <div class="container-lg">
      <div class="container-lg mx-2 bg-blue-600">
        <div class="grid grid-cols-4 px-4 py-10 self-center text-gray-100">
          <div class="col-span-2 py-4">
            <h1 class="my-header-text text-left text-5xl">INVOICE</h1>
          </div>
          <div class="inline-block my-header-content text-right">
            <p>{{+91 9898989898}}</p>
            <p>{{myawemail@gmail.com}}</p>
            <p>{{pumpumpum.com}}</p>
          </div>
          <div class="my-header-content text-right">
            <p>first line of addres</p>
            <p>add <span>city </span> <span>country </span></p>
            <p>zipcode</p>
          </div>
        </div>
      </div>
      <div class="container-lg mx-2 mb-5 divide-blue-500">
        <div class="bg-white mt-1">
          <div class="container-lg px-4">
            <div class="grid grid-cols-3 mb-9 mt-9">
              <div>
                <p class="title-invoice mb-3">Billed to:</p>
                <p class="text-black">NAME</p>
                <p class="text-black">NAME</p>
                <p class="text-black">NAME</p>
                <p class="text-black">NAME</p>
              </div>
              <div class="grid grid-rows-2 row-span-2 gap-y-2">
                <div class="my-first-content">
                  <p class="title-invoice mb-3">Invoice Number</p>
                  <p>9999999999</p>
                </div>
                <div class="my-first-content">
                  <p class="title-invoice">Date of issue</p>
                  <p>10/11/2012</p>
                </div>
              </div>
              <div>
                <p class="title-invoice text-right mb-2">Invoice Total</p>
                <p class="text-blue-400 text-4xl text-right mt-3">$4250.00</p>
              </div>
            </div>
          </div>
        </div>

        <p class="text-blue-500 font-bold">
          ______________________________________________________________________________________________________________________
        </p>
        <div class="px-4 container-lg">
          <div class="grid grid-cols-4 text-right text-sm text-blue-600 mt-2">
            <div class="text-left">Description</div>
            <div>Unit Cost</div>
            <div>Qty / Hr Rate</div>
            <div>Amount</div>
          </div>
          <div class="mt-4 mb-2 text-right grid grid-cols-4">
            <div class="text-left">
              <p>item name</p>
              <p class="text-sm text-gray-400">description</p>
            </div>
            <div>$1000</div>
            <div>1</div>
            <div>1000</div>
          </div>
          <!--  -->
          <div class="mt-4 mb-2 text-right grid grid-cols-4">
            <div class="text-left">
              <p>item name</p>
              <p class="text-sm text-gray-400">description</p>
            </div>
            <div>$1000</div>
            <div>1</div>
            <div>1000</div>
          </div>
          <!--  -->
          <div class="mt-4 mb-2 text-right grid grid-cols-4">
            <div class="text-left">
              <p>item name</p>
              <p class="text-sm text-gray-400">description</p>
            </div>
            <div>$1000</div>
            <div>1</div>
            <div>1000</div>
          </div>
          <!--  -->
        </div>

        <div class="container-lg grid grid-cols-5 mt-9">
          <div class="col-span-4 text-blue-700 text-right">Subtotal:</div>
          <div class="col-span-1 text-right">$400.00</div>
        </div>
      </div>
    </div>
  </body>
</html>
