@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.7;
    font-size: 100%;
    padding: 0;
  }
  li {
    text-decoration: none;
    list-style-type: none;
  }
}

@layer components {
  .outlineme {
    @apply border-2 border-red-500;
  }
  .container-master {
    @apply container max-w-screen-xl mx-auto;
  }
  .back-header-config {
    margin-top: -70px;
  }

  header {
    @apply sticky top-0 z-10;
  }

  .carcard {
    @apply border-2 border-gray-200 rounded-md shadow-sm flex flex-col p-5 text-center font-semibold text-lg;
  }
  .divider-line li {
    @apply pb-9;
  }
  .divider-line li::after {
    content: "";
    display: block;
    width: 90px;
    background: #6c6c6c;
    
    left: 0;
    bottom: 155px;
    height: 1px;

    
  }

  .bg-pink-dots-position {
    @apply bg-pink-dots-2 bg-no-repeat;
    position: absolute;
    height: 250px;
    right: 40px;
    top: -300px;
  }

  .box {
    font-family: "Nunito Sans", sans-serif;
  }
  .spanh3 {
    color: #d71c4a;

    font-weight: 700;
    @apply mb-2;
  }
  .headline {
    @apply text-xl font-semibold text-black;
  }
  /* feature  p */
  .feature-p {
    @apply text-xl  pt-2;
  }
  .section-steps {
    @apply relative;
  }
  .para {
    @apply text-sm pt-2;
  }
  .cardclass {
    @apply border-2 flex-1/2 border-gray-200 rounded-xl px-5 py-5 md:w-64 md:h-56  shadow-box;
    
  }

  /* carousel  */

  .carousel {
    @apply flex overflow-x-scroll;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    .carousel-item {
      width: 100%;
      @apply flex flex-none box-content py-8;
      scroll-snap-align: start;
    }
  }

  .testimonial-content-box {
    @apply text-base md:text-xl;
  }
  .testimonial-user-detail {
    .namep {
      @apply font-bold pt-4;
    }
    .designation {
      @apply text-sm;
    }
  }

  /* cars yellow background  */
  .positionit {
    top: -10px;
  }
  .images-3cars {
    max-width: 55%;
    @apply z-10 flex py-6 absolute space-x-1;
    right: 0;
    top: 40px;
    img {
      height: 375px;
    }
  }

  .footer-background {
    background-image: url("./footer-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-size: cover;
    width: 100%;
    height: 91px;
    background-color: #fff;
  }
  
  .footer-row-2 .column {
    padding: 0 1.5rem;
    width: 29.2rem;
    display: flex;
    flex-direction: column;
  }
  .footer-row-2 .column .column-right {
    align-self: flex-end;
  }
  .footer-row-3 {
    display: flex;
    justify-content: space-between;
  }
  .footer-row-3 .column {
    align-self: flex-center;
  }
}

@layer utilities {
  .bg-quotes-grey {
    @apply bg-no-repeat;
    background-position-y: 100px;
    background-position-x: -40px;
  }
}
